# Gitignore for Cadence Virtuoso
################################################################

# Log files
*.log
panic*.log.*

# OpenAccess database lock files
*.cdslck*

# Run directories for layout vs. schematic and design rule check
lvsRunDir/*
drcRunDir/*
*/maestro/*

# Abstract generation tool
abstract.log*
abstract.record*

#ignorando as categorias
*.Cat
*.Cat%
*.TopCat
*.TopCat%

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.eps
*.cb
*.cb2
.*.lb
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz

